@mixin сentering() {
  padding-left: calc(50% - $widthSite/2);
  padding-right: calc(50% - $widthSite/2);
}

@mixin сentering__1() {
  padding-left: calc(50% - $widthSite/2 - 32px);
  padding-right: calc(50% - $widthSite/2 - 32px);
}

@mixin сentering_768() {
  padding-left: calc(50% - 48%);
  padding-right: calc(50% - 48%);
}

@mixin footer-mt($px) {
  margin-top: $px;
}