$widthSite: 1140px;
$colorSelectSite: #F16D7F;
$colorText: #000;
$colorCartBlack: #222;
$colorCartGray: #575757;
$colorCartGrayPlaceholder: #6F6E6E;
$colorCartGray-2: #4A4A4A;
$colorCartPinkPlaceholder: #EF5B70;
$colorCartLightGrayPlaceholder: #B1B1B1;