@import 'vars';
@import 'mixins';
@import 'cart';
@import 'catalog';
@import 'reg';


a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;

  ul {
    list-style-type: none;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  height: 75px;
  /* flex-shrink: 0; */
  /* background-color: #222; */
  background: #222;
  display: flex;
  position: relative
}

.header__in {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  @include сentering();

}

.logo {
  /* padding-left: 231px; */
  flex-shrink: 0;
  border: none;
  /* background: url(<path-to-image>), #222 0px 0px / 100% 100% no-repeat; */
  padding-right: 41px;
}

.logo__lupa {
  border: none;

}

.header__button {
  /* width: 158.996px;
  height: 29px; */
  /* flex-shrink: 0; */
  /* background-image: url("img/gamburger.svg"); */
  /* background-size: cover;
  background-position: center; */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.box__content {
  // overflow: hidden;
}



.top__head {
  @include сentering();
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F3F4;
  flex-wrap: wrap;
}

.top__head-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: $colorSelectSite;
}

.breadcrumbs__ul {
  display: flex;

  &__link a {
    text-decoration: none;
    color: #636363;
  }

  &__link:not(:last-child)::after {
    content: '/';
    padding: 0 7px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }

  &__link:last-child a {
    font-weight: 700;
    color: $colorSelectSite;
  }

  &__link a:hover {
    text-decoration: underline;
  }
}


.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.product__page {
  display: flex;
  justify-content: center;
  height: 777px;
  //height: calc(777 / 1600 * 100vw);
  //width: 100vw;
  background-color: #F7F7F7;
  padding-top: 11px;
  position: relative;
  border: 1px solid #ebebeb;

  &__left-arrow,
  &__right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 47px;
    height: 47px;
    background-color: #d2dedc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__left-arrow {
    left: 0;
  }

  &__right-arrow {
    right: 0;
  }

  &-img {
    //flex-shrink: calc(597 / 1600); // Для 1600px экрана
    //max-width: calc(597 / 1600 * 100vw); // Максимальная ширина для 1600px экрана
    //max-height: calc(724 / 1600 * 100vw); // Максимальная высота для 1600px экрана
  }

}

.product__page__schell {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;


}

.product__page__info {
  // position: absolute;
  // top:0px;
  // bottom:0px;
  // left:0;
  // margin: 0 auto;
  margin-top: -3%;
  height: 601px;
  max-width: 1140px;
  width: 100%;
  //@include сentering();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: 1px solid #eaeaea;
  margin-bottom: 80px;

  &__a {
    font-family: 'Lato', sans-serif;
    color: $colorSelectSite;
    font-weight: 300;
    font-size: 14px;
    // text-align: center;
  }

  &-line {
    width: 63px;
    height: 4px;
    background-color: #EF5B70;
    margin-top: 12px;
  }

  &-p1 {
    font-family: 'Lato', sans-serif;
    margin-top: 12px;
    font-weight: 300;
    font-size: 18px;
    color: #4d4d4d;
    // text-align: center;
  }

  &-p2 {
    font-family: 'Lato', sans-serif;
    margin-top: 48.4px;
    max-width: 555px;
    width: 96vw;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #5e5e5e;

  }

  &-line {
    width: 63px;
    height: 4px;
    background-color: #EF5B70;
    margin-top: 12px;
  }

  &-line_hr {
    width: 642px;
    height: 1px;
    background-color: #EAEAEA;
    margin-top: 64.5px;
  }

  .product__page__price-p3 {
    font-weight: 300;
    font-size: 24px;
    color: #ef5b70;
    margin-top: 32.3px;
  }

  .product__page__filter {
    margin-top: 64.5px;
    display: flex;
    justify-content: center;
    gap: 23px;

    &-a {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #6f6e6e;
    }
  }

  .product__page-svg {
    padding-left: 9px;
  }

  .product__page__btn-addtochart {
    // display: inline-block;
    display: flex;
    align-items: center;
    gap: 24px;
    border: 1px solid #f26376;
    width: 212px;
    height: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #f26376;

    &-svg {
      margin-top: 15px;
      margin-left: 23px;
    }

  }

  .product__page__btn-shell {
    padding-top: 48.4px;
  }
}


.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  gap: 64px;
  position: relative;
  font-family: 'Lato', sans-serif;
}


.dropdown__menu {
  display: absolute;
  right: 0;
  top: 32px;
  display: none;
  width: 232px;
  height: 634px;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  // color: #6F6E6E;
  padding-bottom: 32px;

  &__1 {
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }

  &__2 {
    font-weight: 400;
    font-size: 14px;
    color: #f16d7f;
  }
}

.dropdown__menu ul {
  list-style-type: none;
}

.dropdown__menu li {
  padding-left: 21px;
  text-decoration: none;
}

.dropdown__menu-mainul {
  margin-top: 32px;
}

.dropdown__menu-main {
  margin-top: 20px;
}

.dropdown__menu-mainul li {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
}

.dropdown__menu__2 li {}

.submenu {

  // color: #6f6e6e; 
}

.submenu li {
  margin-top: 11px;
}

.submenu li a {
  margin-top: 11px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

.content {
  padding: 20px;
}

.pic__man {
  width: 50%;
}

.top__text {
  /* padding-left: 64px; */
}

.class__in__class {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 48%;
}

.top__text__h1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top__text__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.center__content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  // grid-template-columns: repeat(3, 360px);
  padding-top: 64px;
  padding-bottom: 96px;
  @include сentering__1();
}

.item {
  position: relative;
}


.item__img {
  width: 100%;
}

.center__sale__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; */
  flex-direction: column;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center; */
  justify-content: center;
  /* -webkit-box-align: center;
  -ms-flex-align: center; */
  align-items: center;
}

.item__big {
  min-height: 180px;
  grid-column: 1 / -1;
  position: relative;
}

.item__p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.item__h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product {
  padding-bottom: 96px;
  @include сentering_768();
}

.product__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product__p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product__box {
  margin-top: 48px;
  /* display: -ms-grid; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  //grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  // что-то не пошло
  justify-content: center;
  gap: 30px;
}

.prod {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.prod__text {
  background: #F8F8F8;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal; */
  /* -ms-flex-direction: column; */
  flex-direction: column;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center; */
  justify-content: center;
  /* -webkit-box-align: start;
  -ms-flex-align: start; */
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.prod__a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.prod__text__p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.prod__text__p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}


.image-container {
  position: relative;
  overflow: hidden;
}

/* .image-container img {
  height: auto;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* серый цвет с прозрачностью */
  display: none;
}

.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container:hover .overlay {
  display: block;
}

/*9.hw*/
.footer {
  margin-top: 95px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__content-1 {
  background-color: black;
  height: 341px;
  /* width: 1140px; */
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  align-items: center;
  justify-items: center;
  gap: 30px;
  font-family: 'Lato', sans-serif;
}

.column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
}

.item {
  /* padding: 10px; */
  /* border-bottom: 1px solid white; */
  color: white;
}

.footer__car {
  margin-bottom: 14px;
}

.font__foot__1 {
  font-size: 20px;
}

.font__foot__2 {
  font-size: 14px;

}

.footer__content-2 {
  width: 1140px;
  height: 448px;
  margin: 0 auto;
  background-image: url('../img/footer_2_backgr.png');
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */

}

.shell_fc2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  /* grid-template-columns: repeat(2, 360px); */
  margin-top: 97px;
}

.item_fc2_1 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.p_fc2 {
  font-family: 'Lato', sans-serif;

}

.item_fc2_2 {
  width: 557px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item__fc2__2__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.p_fc2_1 {
  font-weight: bold;
  font-size: 20px;
}

.p_fc2_2 {
  font-size: 18px;
}



.form__wrapper {
  display: inline-block;
  height: 49px;
  margin-top: 32px;

}

.item__fc2__form {
  height: 100%;
  display: flex;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  // width: 356px;
}

.item__fc2__input {
  padding-left: 22px;
  background-color: #E1E1E1;
  /* цвет фона кнопки */
  color: white;
  /* цвет текста на кнопке */
  border: none;
  /* убираем границу у кнопки */
  border-right: none;
  /* Убираем правую границу у поля ввода */
  cursor: pointer;
  /* меняем курсор при наведении на кнопку */
  border-top-left-radius: 20px;
  /* Скругление слева поля ввода */
  border-bottom-left-radius: 20px;
  width: 236px;
}

.item__fc2__button {
  /* padding: 10px 0px 20px; */
  background-color: #F16D7F;
  color: white;
  border: none;
  border-top-right-radius: 20px;
  /* Скругление справа кнопки */
  border-bottom-right-radius: 20px;
  width: 100px;
}

.footer__content-3 {
  width: 1140px;
  height: 79px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.p__fc3 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.footer__3__icns {
  display: grid;
  grid-template-columns: repeat(4, 31.45px);
  gap: 7.29px;
  justify-items: center;
}

.footer__3__icns img {
  height: auto;
}


path {
  transition: 300ms;
}

.foo:hover .foo__path1 {
  fill: #F16D7F;
}

.foo:hover .foo__path2 {
  fill: white;

}



/* адаптивность, 7.hw вводный курс */

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
@media (max-width: 1024px) {
  .header {
    height: 74px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }


  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }


  .top__head {
    @include сentering_768();
  }

  .top {
    gap: 39px;
  }

  .class__in__class {
    margin-top: 138px;
  }

  .center__content {
    gap: 19.9px;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    padding-top: 20px;
    padding-bottom: 109px;
    @include сentering_768();
  }

  .item__big {
    min-height: 116px;
  }

  .top__text__h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
  }

  .top__text__h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
  }

  .highlighted {
    color: #F16D7F;
  }

  .product__page {
    height: calc(624 / 768 * 100vw); // 

    &-img {
      //flex-shrink: calc(466 / 768); // Для 768px экрана
      // max-width: calc(466 / 768 * 100vw); // Максимальная ширина для 768px экрана
      max-height: calc(565 / 768 * 100vw); // Максимальная высота для 768px экрана
    }
  }

  .product__page__info {
    margin-top: 0;
    border: none;
    width: 87vw;
  }

  .product__box {
    //margin-top: 72px;
    gap: 16px;


  }

  .prod {
    padding: 0;

    &:last-child {
      display: none;
    }
  }

  .prod__img {
    width: 100%;
  }

  .footer {
    align-content: center;
    margin-top: 49px;
  }

  .footer__content-1 {
    grid-template-columns: 1fr;
    height: 768px;
    width: 100%;
  }

  .column {
    max-width: 360px;
  }

  .footer__content-2 {
    height: 614px;
    width: 100%;
  }

  .shell_fc2 {
    flex-direction: column;
    gap: 48px;
    width: 100%;
  }

  .footer__content-3 {
    width: 100%;
  }

  .p__fc3 {
    margin-left: 32px;
  }

  .footer__3__icns {
    margin-right: 32px;
  }

  .center__foo_768 {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }

}

@media (max-width:784px) {
  .center__content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .product__page__info {
    &-p2 {
      margin-top: 32px;
    }

    &-line_hr {
      width: 67%;
      height: 0.2px;
      margin-top: 32px;
    }
  }
}

@media (max-width: 683px) {

  .header__button {
    &-login {
      display: none;
    }

    &__cart-shell {
      display: none;
    }

  }


  .gamburger {
    display: none;
  }

  .gamburger__small {
    display: inline;
  }

  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }

  .pic__man {
    display: none;
  }

  .top {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 363px;
  }

  .top__text {}

  .top__text__h1 {
    font-size: 38px;
  }

  .top__text__h2 {
    font-size: 20px;

  }

  .class__in__class {
    /* position: absolute;
    padding-top: 48px;
    padding-left: 56px; */
    margin-top: 0px;
  }

  .center__content {
    // grid-template-columns: repeat(1, 320px);
    // grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    grid-template-columns: 1fr;
    padding-top: 64px;
    gap: 32px;
  }

  .item__big {
    min-height: 111px;
  }

  .item__img {
    min-height: 111px;
  }



  .center__foo_768 {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .footer__content-1 {
    height: 610px;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
  }

  /* .item font__foot__2 {
    text-align: center;
  } */

  .column {
    width: 347px;
    justify-items: center;
  }



  .footer__content-2 {
    width: 100%;
    height: 550px;
  }

  .shell_fc2 {
    flex-direction: column;
    gap: 59px;
    width: 100%;
  }

  .item_fc2_2 {
    width: 341px;
  }

  .form__wrapper {
    width: 100%;
  }

  .item__fc2__2__text {
    text-align: center;
  }

  .footer__car {
    margin-bottom: 0px;
  }

  .p_fc2_2 {
    font-size: 14px;
  }

  .p__fc3 {
    margin-left: 0px;
  }

  .footer__3__icns {
    margin-right: 0px;
  }

  .footer__content-3 {
    width: 100%;
    flex-direction: column-reverse;
    height: 173px;
    justify-content: space-evenly;
  }

}


@media (max-width: 420px) {
  .top__head {
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 34px;
    gap: 32px;
  }

  .product__page {
    height: 624px;
    align-items: center;

    &-a {
      height: 454px;
    }

    &-img {
      max-height: 100%;
    }
  }

  .product__page__info {
    margin-bottom: 0;

    &-p2 {
      //max-width: 326px;
    }
  }

  .product__page__info .product__page__filter {
    margin-top: 50px;
    gap: 23px;

    &-a {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 10px;
      color: #6f6e6e;
    }
  }

  .product__page__info .product__page__btn-shell {
    padding-top: 64px;
  }

}



@media (max-width: 375px) {
  .product__box {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

// @media (min-width: 320px) and (max-width: 767px) {

// }